$primary_col: hsl(0, 0%, 100%);
$primary_text_col: hsl(217, 19%, 35%);

// Media Queries
$break-xs: '(min-width: 400px)';
$break-s: '(min-width: 768px)';
$break-m: '(min-width: 900px)';
$break-l: '(min-width: 1024px)';
