/* ****************************** CARD SECTION ****************************** */

.card {
  padding: 1.5em;
  color: $primary_col;
  border-radius: 8px;
  + .card {
    @media #{$break-l} {
      margin-top: initial;
    }
    margin-top: 25px;
  }
  &-intro {
    display: flex;
    align-items: center;

    div {
      margin-left: 15px;

      p {
        color: hsl(0, 0%, 81%);
        + p {
          opacity: 50%;
        }
      }
    }
  }
  &-content {
    margin-top: 20px;

    h2 + p {
      margin-top: 10px;
      color: hsl(0, 0%, 81%);
      opacity: 70%;
    }
  }
}

.card-body {
  &-intro {
    display: flex;
    align-items: center;
    div {
      margin-left: 15px;
      p {
        color: $primary_text_col;
        + p {
          opacity: 50%;
        }
      }
    }
  }
  &-content {
    margin-top: 20px;
    color: $primary_text_col;
    h2 + p {
      margin-top: 10px;
      opacity: 70%;
    }
  }
}

/* Card background color */
.card-one {
  background: hsl(263, 55%, 52%) url(../images/bg-pattern-quotation.svg)
    no-repeat;
  background-position: 95% 1%;
}
.card-two {
  background-color: hsl(217, 19%, 35%);
}
.card-four {
  background-color: hsl(219, 29%, 14%);
}
.card-body {
  background-color: hsl(0, 0%, 100%);
}
