/* ********************************** BASE ********************************** */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

body {
  background-color: hsl(210, 46%, 95%);
  font: 500 13px/1.5 'Barlow Semi Condensed', sans-serif;
}

.wrap {
  @media #{$break-l} {
    @include flexy($j-content: center, $a-items: center);
    width: 85%;
    margin: 0 auto;
    max-width: 1200px;
    height: 100vh;
  }
  padding: 2em;
}
